

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378975156798355.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577378975156798355.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378975156798355.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378975156798355.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-577378975156798355.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378975156798355.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378975156798355.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378975156798355.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378975156798355.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577378975156798355.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-577378975156798355.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378975156798355.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-577378975156798355.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-577378975156798355.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378975156798355.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378975156798355.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-577378975156798355.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378975156798355.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-577378975156798355.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378975156798355.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-577378975156798355.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378975156798355.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378975156798355.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378975156798355.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-577378975156798355.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378975156798355.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378975156798355.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378975156798355.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378975156798355.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378975156798355.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378975156798355.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577378975156798355.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378975156798355.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378975156798355.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378975156798355.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-577378975156798355.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-577378975156798355.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378975156798355.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378975156798355.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378975156798355.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378975156798355.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378975156798355.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378975156798355.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378975156798355.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378975156798355.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378975156798355.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378975156798355.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-577378975156798355.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378975156798355.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-577378975156798355.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378975156798355.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378975156798355.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-577378975156798355.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378975156798355.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378975156798355.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577378975156798355.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378975156798355.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378975156798355.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378975156798355.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378975156798355.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378975156798355.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378975156798355.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378975156798355.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378975156798355.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-577378975156798355.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577378975156798355.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378975156798355.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378975156798355.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378975156798355.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378975156798355.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378975156798355.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378975156798355.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378975156798355 .gp-relative{position:relative}.gps-577378975156798355 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378975156798355 .gp-mb-0{margin-bottom:0}.gps-577378975156798355 .gp-flex{display:flex}.gps-577378975156798355 .gp-inline-flex{display:inline-flex}.gps-577378975156798355 .gp-grid{display:grid}.gps-577378975156798355 .\!gp-hidden{display:none!important}.gps-577378975156798355 .gp-hidden{display:none}.gps-577378975156798355 .gp-h-full{height:100%}.gps-577378975156798355 .gp-max-w-full{max-width:100%}.gps-577378975156798355 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378975156798355 .gp-flex-col{flex-direction:column}.gps-577378975156798355 .gp-items-center{align-items:center}.gps-577378975156798355 .gp-justify-center{justify-content:center}.gps-577378975156798355 .gp-overflow-hidden{overflow:hidden}.gps-577378975156798355 .gp-break-words{overflow-wrap:break-word}.gps-577378975156798355 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-577378975156798355 .gp-no-underline{text-decoration-line:none}.gps-577378975156798355 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378975156798355 .gp-duration-200{transition-duration:.2s}.gps-577378975156798355 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378975156798355 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-577378975156798355 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}}.gps-577378975156798355 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-577378975156798355 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577378975156798355 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577378975156798355 .tablet\:\!gp-hidden{display:none!important}.gps-577378975156798355 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-577378975156798355 .mobile\:\!gp-hidden{display:none!important}.gps-577378975156798355 .mobile\:gp-hidden{display:none}}.gps-577378975156798355 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577378975156798355 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--pos:fixed;--top:0px;--z:99;--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"giCqEujRE8"}' data-id="giCqEujRE8" id="giCqEujRE8" data-same-height-subgrid-container class="giCqEujRE8 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-l);--pl:15px;--pb:var(--g-s-l);--pr:15px;--pt-tablet:var(--g-s-l);--pl-tablet:15px;--pb-tablet:var(--g-s-l);--pr-tablet:15px;--cg:var(--g-s-2xl);--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gDeXTxmc2i gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSv4sqJF0w"}' data-id="gSv4sqJF0w" id="gSv4sqJF0w" data-same-height-subgrid-container class="gSv4sqJF0w gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(undefined);--cg:var(--g-s-l);--gtc:minmax(0, 9fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 7fr) minmax(0, 5fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="giFLaEmCWS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gG91Em4dF1"
        class="gG91Em4dF1"
        style="--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1755007422498"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-text-g-bg-3 gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:24px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggG91Em4dF1_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gDkag0VDIK gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px 0px 0px 0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--mb:0px;--ta:right" >
        <style>[data-id="gNLML8g2vW"].gp-button-base::before, [data-id="gNLML8g2vW-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #F4963F;
  
    
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
  
    }
  
      
  [data-id="gNLML8g2vW"]:hover::before, [data-id="gNLML8g2vW-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="gNLML8g2vW" dataId="gNLML8g2vW" data-state="idle" aria-label="Buy now"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--hvr-bblr:99px;--hvr-bbrr:99px;--hvr-btlr:99px;--hvr-btrr:99px;--bgi:;--hvr-bgi:;--hvr-bg:#242424;--bg:#F4963F;--hvr-c:var(--g-c-bg-3);--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gNLML8g2vW gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 hover:gp-text-g-bg-3 gp-text-g-bg-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggNLML8g2vW_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-577378975156798355 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378975156798355)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggG91Em4dF1_text","label":"ggG91Em4dF1_text","default":"<p>Black Friday Sale - Up to 75% OFF!</p>"},{"type":"html","id":"ggNLML8g2vW_label","label":"ggNLML8g2vW_label","default":"Buy now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
