

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-577378976633193363.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-577378976633193363.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-577378976633193363.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-577378976633193363.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-577378976633193363.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-577378976633193363.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-577378976633193363.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-577378976633193363.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-577378976633193363.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-577378976633193363.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-577378976633193363.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-577378976633193363.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-577378976633193363.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-577378976633193363.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-577378976633193363.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-577378976633193363.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-577378976633193363.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-577378976633193363.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-577378976633193363.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-577378976633193363.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-577378976633193363.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-577378976633193363.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-577378976633193363.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-577378976633193363.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-577378976633193363.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-577378976633193363.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-577378976633193363.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-577378976633193363.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-577378976633193363.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-577378976633193363.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-577378976633193363.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-577378976633193363.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-577378976633193363.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-577378976633193363.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-577378976633193363.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-577378976633193363.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-577378976633193363.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-577378976633193363.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-577378976633193363.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-577378976633193363.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-577378976633193363.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-577378976633193363.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-577378976633193363.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-577378976633193363.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-577378976633193363.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-577378976633193363.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-577378976633193363.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-577378976633193363.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-577378976633193363.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-577378976633193363.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-577378976633193363.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-577378976633193363.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-577378976633193363.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-577378976633193363.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-577378976633193363.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-577378976633193363.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-577378976633193363.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-577378976633193363.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-577378976633193363.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-577378976633193363.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-577378976633193363.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-577378976633193363.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-577378976633193363.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-577378976633193363.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-577378976633193363.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-577378976633193363.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-577378976633193363 .gp-absolute{position:absolute}.gps-577378976633193363 .gp-relative{position:relative}.gps-577378976633193363 .gp-inset-0{inset:0}.gps-577378976633193363 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-577378976633193363 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-577378976633193363 .gp-z-1{z-index:1}.gps-577378976633193363 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-577378976633193363 .gp-mb-0{margin-bottom:0}.gps-577378976633193363 .gp-flex{display:flex}.gps-577378976633193363 .gp-inline-flex{display:inline-flex}.gps-577378976633193363 .gp-grid{display:grid}.gps-577378976633193363 .\!gp-hidden{display:none!important}.gps-577378976633193363 .gp-hidden{display:none}.gps-577378976633193363 .gp-h-full{height:100%}.gps-577378976633193363 .gp-w-full{width:100%}.gps-577378976633193363 .gp-max-w-full{max-width:100%}.gps-577378976633193363 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-577378976633193363 .gp-flex-col{flex-direction:column}.gps-577378976633193363 .gp-items-center{align-items:center}.gps-577378976633193363 .\!gp-justify-center{justify-content:center!important}.gps-577378976633193363 .gp-justify-center{justify-content:center}.gps-577378976633193363 .gp-gap-y-0{row-gap:0}.gps-577378976633193363 .gp-overflow-hidden{overflow:hidden}.gps-577378976633193363 .gp-break-words{overflow-wrap:break-word}.gps-577378976633193363 .gp-rounded-none{border-radius:0}.gps-577378976633193363 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-577378976633193363 .gp-no-underline{text-decoration-line:none}.gps-577378976633193363 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .gp-duration-200{transition-duration:.2s}.gps-577378976633193363 .gp-duration-300{transition-duration:.3s}.gps-577378976633193363 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-577378976633193363 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-577378976633193363 .hover\:gp-bg-g-bg-3:hover{background-color:var(--g-c-bg-3)}}.gps-577378976633193363 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-577378976633193363 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-577378976633193363 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-577378976633193363 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-577378976633193363 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}.gps-577378976633193363 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-577378976633193363 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-577378976633193363 .tablet\:gp-relative{position:relative}.gps-577378976633193363 .tablet\:\!gp-hidden{display:none!important}.gps-577378976633193363 .tablet\:gp-hidden{display:none}.gps-577378976633193363 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-577378976633193363 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-577378976633193363 .mobile\:gp-relative{position:relative}.gps-577378976633193363 .mobile\:\!gp-hidden{display:none!important}.gps-577378976633193363 .mobile\:gp-hidden{display:none}.gps-577378976633193363 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-577378976633193363 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-577378976633193363 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-577378976633193363 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-577378976633193363 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-577378976633193363 .\[\&_p\]\:gp-inline p{display:inline}.gps-577378976633193363 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-577378976633193363 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-577378976633193363 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gbzx_YCbIe" data-id="gbzx_YCbIe"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--pt-mobile:0px;--pb-mobile:63px;--pt-tablet:63px;--pb-tablet:63px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbzx_YCbIe gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSuchBySAY gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full" style="--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(undefined)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"height":450,"src":"https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/","width":1440},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gSoSqL_zyK","enableParallax":false,"speedParallax":0,"hoverEffect":false,"hoverEffectScale":1.1,"layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"}}'
        gp-href=""
        
        class="gSoSqL_zyK gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pt:0px;--pb:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--w:100%;--w-tablet:100%;--w-mobile:100%"
        data-id="gSoSqL_zyK"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--bgc:var(--g-c-bg-2)"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" srcset="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" />
      <source media="(max-width: 1024px)" srcset="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/"
        alt=""
        fetchpriority="high"
        style="--d:none;--d-tablet:none;--d-mobile:none;--h:[object Object];--h-tablet:[object Object];--h-mobile:[object Object];--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-tablet:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgi-mobile:url(https://ucarecdn.com/e006f3e1-0319-44ea-8e2a-806d7836625e/-/format/auto/);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:1.1;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:0">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--cg:var(--g-s-2xl);--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gG2L5Dr0jj gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gWtoFsUck2" data-id="gWtoFsUck2"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:930px;--w-tablet:930px;--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWtoFsUck2 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP_kMioRft gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g6lKgsc7PJ">
    <div
      parentTag="Col"
        class="g6lKgsc7PJ "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:96px;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg6lKgsc7PJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gImjGAr947">
    <div
      parentTag="Col"
        class="gImjGAr947 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:51px;--size-mobile:44px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggImjGAr947_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:96px;--ta:center"
    
  >
    <style>
    .g2BoXk7p3f.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 99px;
      border-bottom-right-radius: 99px;
      border-top-left-radius: 99px;
      border-top-right-radius: 99px;
      
    }

    .g2BoXk7p3f:hover::before {
      
      
    }

    .g2BoXk7p3f:hover .gp-button-icon {
      color: #242424;
    }

     .g2BoXk7p3f .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .g2BoXk7p3f:hover .gp-button-price {
      color: #242424;
    }

    .g2BoXk7p3f .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .g2BoXk7p3f .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .g2BoXk7p3f:hover .gp-product-dot-price {
      color: #242424;
    }
  </style>
    <button
      type="button" data-id="g2BoXk7p3f" aria-label="Get deal now"
      
      data-state="idle"
      class="g2BoXk7p3f gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-bg-g-bg-3 gp-text-g-bg-3"
      style="--hvr-bg:var(--g-c-bg-3, bg-3);--bg:#F4963F;--bblr:99px;--bbrr:99px;--btlr:99px;--btrr:99px;--pl:78px;--pr:78px;--pt:16px;--pb:16px;--pl-tablet:78px;--pr-tablet:78px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:84px;--pr-mobile:84px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#242424;--c:var(--g-c-bg-3, bg-3);--size:21px;--size-tablet:19px;--size-mobile:19px;--lh:150%;--fs:normal;--weight:600;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:19px;--size-mobile:19px;--hvr-c:#242424;--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.gg2BoXk7p3f_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 9",
    "tag": "section",
    "class": "gps-577378976633193363 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/993mqj-bi/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=577378957289062950&sectionId=577378976633193363)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6lKgsc7PJ_text","label":"gg6lKgsc7PJ_text","default":"<p>Time to make your hair shine!</p>"},{"type":"html","id":"ggImjGAr947_text","label":"ggImjGAr947_text","default":"<p>Only on Black Friday<br>Premium haircare at the best price ever</p>"},{"type":"html","id":"gg2BoXk7p3f_label","label":"gg2BoXk7p3f_label","default":"Get deal now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
